header, section, footer, aside, nav, article {
    display: block;
  }
  
  body {
    min-width: 600px;
    background-color: #000102;
    color: #888798;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    margin: 0;
    padding: 0;
  }
  
  a:link {
    color: #848484;
    outline: none;
    text-decoration: none;
  }
  a:visited {
    color: #848484;
    text-decoration: none;
  }
  a:hover {
    color: #D99D1C;
    outline: none;
  }
  a:active {
    color: #D99D1C;
    outline: none;
  }
  
  #wrap {
    width: 1000px;
    max-width: 1000px;
    margin: 0px auto 15px auto;
  }
  
  #header {
    width: 980px;
    max-width: 980px;
    background-color: #1a1a1a;
    color: #5B5F69;
  }
  #header .top {
    width: 980px;
    max-width: 980px;
    min-height: 10px;
    padding: 5px 10px;
    color: #555555;
  }
  #header .title {
    background-color: #1f1f1f;
    color: #D99D1C;
    display: block;
    font-weight: bold;
    font-size: 16px;
    padding: 20px 30px;
    letter-spacing: 0px;
  }
  #header .title .subtitle {
    font-weight: normal !important;
    font-size: 11px;
    display: block;
    margin-top: -2px;
    margin-left: 8px;
    color: #8C8C8C;
    text-transform: none;
  }
  
  #nav {
    width: 980px;
    max-width: 980px;
  }
  #nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  #nav ul li {
    float: left;
  }
  #nav ul li a {
    display: block;
    padding: 10px;
    margin-left: 5px;
    color: #7e7e7e;
    text-decoration: none;
  }
  #nav ul li a:hover {
    background-color: #1f1f1f;
    color: #D99D1C;
  }
  
  #content {
    float: left;
    width: 770px;
    max-width: 800px;
    margin: 8px 0px;
    padding: 5px 0px;
    background-color: #1f1f1f;
    color: #7d818b;
    line-height: 17px;
  }
  #content article {
    padding: 5px 20px;
  }
  #content > h1 {
    font-size: 16px;
    background-color: #1a1a1a;
    overflow: hidden;
    color: #D99D1C;
    text-align: left;
    margin: 0px 0px 5px 0px;
    padding: 5px 15px;
  }
  #content article h1 {
    padding-left: 2px;
    font-weight: bold;
    color: #D99D1C;
    text-align: left;
  }
  #content article h2 {
    font-weight: bold;
    color: #c9921d;
    text-align: left;
  }
  #content article h3 {
    font-weight: bold;
    color: #c9921d;
    text-align: left;
  }
  #content article h4 {
    font-weight: bold;
    color: #c9921d;
    text-align: left;
  }
  #content article h5 {
    font-weight: bold;
    color: #c9921d;
    text-align: left;
  }
  
  #content .title {
    color: #D99D1C;
    margin: 0 !important;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
  }
  
  #sidebar {
    float: right;
    margin-bottom: 8px;
  }
  #sidebar .panel {
    width: 200px;
    max-width: 200px;
    background-color: #1f1f1f;
    margin: 8px 20px 0px 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    overflow: hidden;
  }
  #sidebar .panel h3 {
    background-color: #1a1a1a;
    color: #D99D1C;
    padding: 5px 5px;
    margin: 0px;
    text-align: center;
  }
  #sidebar .panel p {
    padding: 0px 8px 5px 8px;
  }
  #sidebar .panel ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  #sidebar .panel ul li {
    margin: 5px 15px;
  }
  #sidebar .gamestate {
    padding: 5px;
  }
  #sidebar .gamestate_1 {
    background-color: #226d18;
    color: white;
  }
  #sidebar .gamestate_2 {
    background-color: #8f1616;
    color: white;
  }
  #sidebar .gamestate_3 {
    background-color: #97890a;
    color: white;
  }
  
  #footer {
    clear: both;
    width: 980px;
    max-width: 980px;
    margin: 5px 0px;
    background-color: #1a1a1a;
    color: #494E5C;
  }
  #footer .copyright {
    padding: 5px 8px;
  }
  
  .nomargin {
    margin-right: 0px;
  }
  
  .pic {
    float: left;
    margin: 0 2px 2px 0;
    border: 1px solid #0B1426;
    width: 100px;
    height: 100px;
  }
  .pic a {
    width: 100px;
    height: 100px;
    text-indent: -99999px;
    display: block;
  }
  
  .left {
    float: left;
  }
  
  .right {
    float: right;
  }
  
  .clear {
    clear: both;
  }
  
  input, #input {
    background-color: #2b2b2b;
    border: 1px solid rgba(175, 175, 175, 0.1);
    padding: 5px 8px;
    margin: 0.5em 0.2em;
    text-decoration: none;
    color: #888798;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
  }
  input:hover, #input:hover {
    color: #D99D1C;
    border: 1px solid rgba(255, 204, 0, 0.4);
    background-color: #2b2b2b;
  }
  input:active, #input:active {
    color: #D99D1C;
    border: 1px solid rgba(255, 204, 0, 0.5);
    background-color: #2b2b2b;
  }
  input:focus, #input:focus {
    color: #D99D1C;
    border: 1px solid rgba(255, 204, 0, 0.5);
    background-color: #2b2b2b;
  }
  
  button, .button {
    display: inline-block;
    white-space: nowrap;
    background-color: #181818;
    border: 1px solid #2b2b2b;
    padding: 3px 2em;
    margin: 0.5em 0.2em;
    text-decoration: none;
    color: #888798;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
  }
  button:hover, .button:hover {
    color: #D99D1C;
    cursor: pointer;
    border: 1px solid #6e5011;
    background-color: #2b2b2b;
  }
  button:active, .button:active {
    color: #D99D1C;
  }
  button:focus, .button:focus {
    outline: 0;
    color: #D99D1C;
    background: #121616;
  }
  
  select {
    background-color: #2b2b2b !important;
    border: none !important;
    padding: 5px 10px !important;
    margin: 0.5em 0.1em !important;
    text-decoration: none !important;
    color: #888798 !important;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8) !important;
  }
  
  option {
    background-color: #2b2b2b !important;
    border: none !important;
    padding: 5px 8px !important;
    margin: 0.5em 0.2em !important;
    text-decoration: none !important;
    color: #888798 !important;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8) !important;
  }
  
  form {
    padding: 3px 5px;
  }
  
  fieldset {
    float: left;
    margin-bottom: 15px;
    border: none;
  }
  fieldset legend {
    width: 150px;
    font-weight: bold;
    text-align: center;
    margin-right: 6px;
    margin-top: 8px;
  }
  
  label {
    float: left;
    margin: 0.1em 0.3em;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
  }
  
  .alert {
    display: block;
    padding: 10px 25px;
    margin-top: 1px;
    margin-bottom: 1px;
  }
  .alert.alert-error {
    background-color: #912020;
    color: #d3d3d3;
  }
  .alert.alert-warning {
    background-color: #918f20;
    color: #d3d3d3;
  }
  .alert.alert-info {
    background-color: #103469;
    color: #d3d3d3;
  }
  
  .warning-text {
    color: #babd16;
  }
  
  .success_text {
    color: #209120;
  }
  
  .error_text {
    color: #912020;
  }

  
table {
  border-collapse: separate;
  border-spacing: 1px;
}

td {
    background-color: rgba(30, 30, 30, 0.5);
    color: #dddddd;
    padding: 3px;
}

tr:hover > td {
    background-color: rgba(60, 60, 60, 0.3) !important;
}

table tr:nth-child(odd) td {
    background-color: rgba(40, 40, 40, 0.5);
}

th {
    background-color: #1a1a1a;
    color: #D99D1C;
    padding: 5px 3px;
}


div.planetSurfaceTiles {
  display: grid;
  grid-template-columns: 43px 43px 43px 43px 43px 43px 43px 43px 43px 43px;
}

div.moonSurfaceTiles {
  display: grid;
  grid-template-columns: 43px 43px 43px 43px 43px 43px 43px;
}
div.moduleScreenGrid {
  display: grid;
  grid-template-columns: auto 300px;
}


.cfa {
  text-align: center;
  border: 1px solid #01DF01;
  padding: 0;
  margin: 0px 1px 1px 0px;
}

.cfd {
  border: 1px solid #DF0101;
  text-align: center;
  padding: 0;
  margin: 0px 1px 1px 0px;
}

.cfu {
  border: 1px solid #3d3d3d;
  text-align: center;
  padding: 0;
  margin: 0px 1px 1px 0px;
}

.cfld {
  border: 1px dashed #c2b942;
  text-align: center;
  padding: 0;
  margin: 0px 1px 1px 0px;
}

.cfhd {
  border: 1px dashed #8A0808;
  text-align: center;
  padding: 0;
  margin: 0px 1px 1px 0px;
}

.cfb {
  border: 1px dashed #FFFFFF;
  text-align: center;
  padding: 0;
  margin: 0px 1px 1px 0px;
}

#overDiv {
  background-color: #000000 ! important;
  -moz-box-shadow: 0px 0px 8px #000000;
  -webkit-box-shadow: 0px 0px 8px #000000;
  box-shadow: 0px 0px 8px #000000;
  position: absolute;
  visibility: hidden;
  z-index: 111111112;
}