header,
section,
footer,
aside,
nav,
article {
  display: block;
}

body {
  min-width: 600px;
  background-color: #000102;
  color: #888798;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  margin: 0;
  padding: 0;
}

a:link {
  color: #848484;
  outline: none;
  text-decoration: none;
}

a:visited {
  color: #848484;
  text-decoration: none;
}

a:hover {
  color: #D99D1C;
  outline: none;
}

a:active {
  color: #D99D1C;
  outline: none;
}

#wrap {
  width: 1000px;
  max-width: 1000px;
  margin: 0 auto 15px;
}

#header {
  width: 980px;
  max-width: 980px;
  background-color: #1a1a1a;
  color: #5B5F69;
}

#header .top {
  width: 980px;
  max-width: 980px;
  min-height: 10px;
  padding: 5px 10px;
  color: #555;
}

#header .title {
  background-color: #1f1f1f;
  color: #D99D1C;
  display: block;
  font-weight: 700;
  font-size: 16px;
  padding: 20px 30px;
  letter-spacing: 0;
}

#header .title .subtitle {
  font-weight: 400 !important;
  font-size: 11px;
  display: block;
  margin-top: -2px;
  margin-left: 8px;
  color: #8C8C8C;
  text-transform: none;
}

#nav {
  width: 980px;
  max-width: 980px;
}

#nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#nav ul li {
  float: left;
}

#nav ul li a {
  display: block;
  padding: 10px;
  margin-left: 5px;
  color: #7e7e7e;
  text-decoration: none;
}

#nav ul li a:hover {
  background-color: #1f1f1f;
  color: #D99D1C;
}

#content {
  float: left;
  width: 770px;
  max-width: 800px;
  margin: 8px 0;
  padding: 5px 0;
  background-color: #1f1f1f;
  color: #7d818b;
  line-height: 17px;
}

#content article {
  padding: 5px 20px;
}

#content>h1 {
  font-size: 16px;
  background-color: #1a1a1a;
  overflow: hidden;
  color: #D99D1C;
  text-align: left;
  margin: 0 0 5px;
  padding: 5px 15px;
}

#content article h1 {
  padding-left: 2px;
  font-weight: 700;
  color: #D99D1C;
  text-align: left;
}

#content article h2 {
  font-weight: 700;
  color: #c9921d;
  text-align: left;
}

#content article h3 {
  font-weight: 700;
  color: #c9921d;
  text-align: left;
}

#content article h4 {
  font-weight: 700;
  color: #c9921d;
  text-align: left;
}

#content article h5 {
  font-weight: 700;
  color: #c9921d;
  text-align: left;
}

#content .title {
  color: #D99D1C;
  margin: 0 !important;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: 700;
  text-align: left;
}

#sidebar {
  float: right;
  margin-bottom: 8px;
}

#sidebar .panel {
  width: 200px;
  max-width: 200px;
  background-color: #1f1f1f;
  margin: 8px 20px 0 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  overflow: hidden;
}

#sidebar .panel h3 {
  background-color: #1a1a1a;
  color: #D99D1C;
  padding: 5px;
  margin: 0;
  text-align: center;
}

#sidebar .panel p {
  padding: 0 8px 5px;
}

#sidebar .panel ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#sidebar .panel ul li {
  margin: 5px 15px;
}

#sidebar .gamestate {
  padding: 5px;
}

#sidebar .gamestate_1 {
  background-color: #226d18;
  color: #fff;
}

#sidebar .gamestate_2 {
  background-color: #8f1616;
  color: #fff;
}

#sidebar .gamestate_3 {
  background-color: #97890a;
  color: #fff;
}

#footer {
  clear: both;
  width: 980px;
  max-width: 980px;
  margin: 5px 0;
  background-color: #1a1a1a;
  color: #494E5C;
}

#footer .copyright {
  padding: 5px 8px;
}

.nomargin {
  margin-right: 0;
}

.pic {
  float: left;
  margin: 0 2px 2px 0;
  border: 1px solid #0B1426;
  width: 100px;
  height: 100px;
}

.pic a {
  width: 100px;
  height: 100px;
  text-indent: -99999px;
  display: block;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

fieldset {
  float: left;
  margin-bottom: 15px;
  border: none;
}

fieldset legend {
  width: 150px;
  font-weight: 700;
  text-align: center;
  margin-right: 6px;
  margin-top: 8px;
}

label {
  float: left;
  margin: .1em .3em;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
}

.alert {
  display: block;
  padding: 10px 25px;
  margin-top: 1px;
  margin-bottom: 1px;
}

.alert.alert-error {
  background-color: #912020;
  color: #d3d3d3;
}

.alert.alert-warning {
  background-color: #918f20;
  color: #d3d3d3;
}

.alert.alert-info {
  background-color: #103469;
  color: #d3d3d3;
}

.warning-text {
  color: #babd16;
}

.success_text {
  color: #209120;
}

.error_text {
  color: #912020;
}

div.planetSurfaceTiles {
  display: grid;
  grid-template-columns: 43px 43px 43px 43px 43px 43px 43px 43px 43px 43px;
}

div.moonSurfaceTiles {
  display: grid;
  grid-template-columns: 43px 43px 43px 43px 43px 43px 43px;
}

div.moduleScreenGrid {
  display: grid;
  grid-template-columns: auto 300px;
}

.cfa {
  text-align: center;
  border: 1px solid #01DF01;
  padding: 0;
  margin: 0 1px 1px 0;
}

.cfd {
  border: 1px solid #DF0101;
  text-align: center;
  padding: 0;
  margin: 0 1px 1px 0;
}

.cfu {
  border: 1px solid #3d3d3d;
  text-align: center;
  padding: 0;
  margin: 0 1px 1px 0;
}

.cfld {
  border: 1px dashed #c2b942;
  text-align: center;
  padding: 0;
  margin: 0 1px 1px 0;
}

.cfhd {
  border: 1px dashed #8A0808;
  text-align: center;
  padding: 0;
  margin: 0 1px 1px 0;
}

.cfb {
  border: 1px dashed #FFF;
  text-align: center;
  padding: 0;
  margin: 0 1px 1px 0;
}

.invalid {
  border-color: #ca0000 !important;
}

.valid {
  border-color: #00ca00 !important;
}

.form-group {
  margin-bottom: .5em;
}

input[type="text"],input[type="password"],input[type="number"],input[type="email"],input[type="search"],input[type="color"],textarea {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  background-color: #2b2b2b;
  background-image: none;
  border: 1px solid #2b2b2b;
  border-radius: 4px;
  color: #888798;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control {
  border-radius: 0;
  border: 1px solid #2b2b2b;
  background-color: #2b2b2b;
  padding: 5px 10px;
  margin: .5em .1em;
  text-decoration: none;
  color: #888798;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
}

.form-checkbox {
  margin-top: .5em;
  margin-bottom: .5em;
}

.btn {
  border-radius: 0;
  border: 1px solid #2b2b2b;
  background-color: #2b2b2b;
  padding: 5px 10px;
  margin: .5em .1em;
  text-decoration: none;
  color: #888798;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
}

.btn-default {
  background-color: #2b2b2b;
  border: 1px solid #6d6d6d;
  cursor: pointer;
}

.btn-default:hover {
  background-color: #121616;
  color: #D99D1C;
}

.btn-default:active {
  background-color: #121616;
  color: #D99D1C;
}

.btn-default:focus {
  background-color: #121616;
  color: #D99D1C;
}

.btn-primary {
  background-color: #23222e;
  border: 1px solid #6d6d6d;
  color: #888798;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #121616;
  color: #D99D1C;
}

.btn-primary:active {
  background-color: #121616;
  color: #D99D1C;
}

.btn-primary:focus {
  background-color: #121616;
  color: #D99D1C;
}

#password-visibility, #password-generate {
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#password-visibility:hover, #password-generate:hover {
  color: #D99D1C;
  cursor: pointer;
}

.news {
  margin: .6em .1em;
  text-decoration: none;
  color: #888798;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
}

.news .title {
  color: #D99D1C;
  font-weight: bold;
  background-color: #1d1d1d;
}

.news .author {
  color: #555555;
  font-size: 12px;
  font-weight: normal;
}

.news .text {
  color: #888798;
  padding-left: 15px;
}

.news .readmore {
  padding-left: 25px;
  padding-top: 15px;
}

.news .readmore a {
  color: #D99D1C;
  text-decoration: none;
}