{% extends "Layout/web.twig" %}
{% block content %}

<form action="/login" method="post" autocomplete="off">
    {{ token_form|raw }}
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" onchange="checkLoginInputs();" placeholder="Email"
            required>
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" onchange="checkLoginInputs();"
            placeholder="Password" required>
    </div>

    <!-- Save Login -->
    <div class="form-group">
        <div class="form-check">
            <label class="form-check-label" for="saveLogin">Login merken</label>
            <input type="checkbox" class="form-check-input" id="saveLogin" name="saveLogin">
        </div>
    </div>

    <button type="submit" id="login-button" class="btn btn-primary" disabled="true">Einloggen</button>
</form>

{% endblock %}