{% extends "Layout/webLayout.twig" %}
{% block content %}

<form action="{{ url('/register') }}" method="post" autocomplete="off">
    {{ token_form|raw }}

    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" name="email" onchange="checkRegisterInputs();" placeholder="Email" required>
    </div>

    <div class="form-group">
        <label for="password">Password (<span onclick="togglePasswordVisibility()" id="password-visibility">Show</span>) (<span onclick="setGeneratedPassword()" id="password-generate">Generieren</span>)</label>
        <input type="password" class="form-control" id="password" name="password" onchange="checkRegisterInputs();" placeholder="Password" required>
    </div>

    <div class="form-group">
        <label for="password_confirm">Confirm Password</label>
        <input type="password" class="form-control" id="password_confirm" name="password_confirm" onchange="checkRegisterInputs();" placeholder="Confirm Password" required>
    </div>

    <button type="submit" id="register-button" class="btn btn-primary" disabled="true">Regestireren</button>
</form>

{% endblock %}