{% extends "Layout/webLayout.twig" %}
{% block content %}

<form action="{{ internUrl('/auth/login') }}" method="post" autocomplete="off">
    {{ token_form|raw }}
    <div class="uk-margin">
        <label class="uk-form-label uk-text-bold" for="email">Email</label>
        <div class="uk-form-controls">
            <input type="email" class="uk-input" id="email" name="email" onchange="checkLoginInputs();" placeholder="Email" required>
        </div>
    </div>

    <div class="uk-margin">
        <label class="uk-form-label uk-text-bold" for="password">Password</label>
        <div class="uk-form-controls">
            <input type="password" class="uk-input" id="password" name="password" onchange="checkLoginInputs();" placeholder="Password" required>
        </div>
    </div>

    <div class="uk-margin">
        <div class="uk-form-controls">
            <label><input type="checkbox" class="uk-checkbox" id="saveLogin" name="saveLogin"> Login merken</label>
        </div>
    </div>

    <button type="submit" id="login-button" class="uk-button uk-button-primary" disabled>Einloggen</button>
</form>

{% endblock %}