{% extends "Layout/webLayout.twig" %}
{% block content %}

<form action="{{ internUrl('/auth/register') }}" method="post" autocomplete="off">
    {{ token_form|raw }}

    <div class="uk-margin">
        <label class="uk-form-label uk-text-bold" for="email">Email</label>
        <div class="uk-form-controls">
            <input type="email" class="uk-input" id="email" name="email" placeholder="Email" required>
        </div>
    </div>

    <div class="uk-margin">
        <label class="uk-form-label uk-text-bold" for="email">Passwort (<span onclick="togglePasswordVisibility()" id="password-visibility">Show</span>) (<span onclick="setGeneratedPassword()" id="password-generate">Generieren</span>)</label>
        <div class="uk-form-controls uk-grid-small" uk-grid>
            <div class="uk-width-1-2@s">
                <input type="password" class="uk-input" class="form-control" id="password" name="password" placeholder="Password" required>
            </div>
            <div class="uk-width-1-2@s">
                <input type="password" class="uk-input" class="form-control" id="password_confirm" name="password_confirm" placeholder="Confirm Password" required>
            </div>
        </div>
    </div>

    <button type="submit" id="register-button" class="uk-button uk-button-primary">Regestireren</button>
</form>

{% endblock %}