{% extends "Layout/game.twig" %}
{% block content %}

    <br />

    <a href="#" onclick="generatePopup('Test Titel', 'Denke das geht so!');">Popup Test</a>

    <br />
    <a href="#" onclick="generatePopupWindow('/api/popuptest');">Popup Test with URL</a>

{% endblock %}