{% extends "Layout/game.twig" %}
{% block content %}
Content of the page...

{% for user in users %}
<div>{{ user.getId }}</div>
{% endfor %}

    das ist ein <span onclick="generatePopup('test', 'INHALT ODER SO');">Test</span> !!
    <span onclick="generatePopup('test', 'Denke das geht so!');">Test</span>
    
    <span onclick="generatePopup('Test Titel', 'Denke das geht so!');">Test</span>
    <span onclick="generatePopupWindow('/game/maindesk');">Test</span>
    <span onclick="generatePopupWindow('http://localhost/game/maindesk');">Test</span>

{% endblock %}