{% extends "Layout/popupLayout.twig" %}
{% block content %}

<div style="max-width: 500px; max-height: 250px; overflow: auto; text-align:left;">
    {% include "_Include/_rules.twig" %}
</div> 

{% endblock %}