{% extends "Layout/web.twig" %}
{% block content %}

    <form action="/login" method="post">
        {{ token_form|raw }}
        <input type="email" name="email" value="" placeholder="E-Mail Adresse" required>
        <input type="password" name="password" value="" placeholder="Passwort" required>
        <button type="submit">Einloggen</button>
    </form>

{% endblock %}