{% extends "Layout/web.twig" %}
{% block content %}
    Registration

    <form action="/register" method="post">
        <input type="hidden" name="test" value="Test bestanden" />
        <button type="submit">Test</button>
    </form>

{% endblock %}